# Dependency directories
node_modules/

# Bundled distribution
/dist/bundle.js

# dotenv environment variables file
.env
.env.test

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
